@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --brand-color: #2fbd6a;

  --dark-10: #2d3748;
  --dark-20: #718096;

  --white-10: #e7e7e7;
  --white-20: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
}
