@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --brand-color: #ff1541;

  --dark: #0c1324;

  --white: #ffffff;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
